*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: url(images/formbg.jpg);
  background-size: cover;
}
/* navbar */
.navbar{
	position: fixed;
	height: 60px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgb(0, 0, 0);
}
.navbar .logo{
	width: 140px;
	height: auto;
	padding: 20px 100px;
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: red;
	border-radius: 2px;
}
/* contact form */
.wrapper{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
}
.contact_c{
  max-width: 550px;
  margin: 0 auto;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 0 10px rgba(0,0,0,0.13) ;
}
.input-field{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
.input-field, .msg{
  width: 48%;
}
.input-field .text, .msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}
.msg textarea{
  height: 212px;
}
::-webkit-input-placeholder
{
  color:  #c5ecfd;
}
::-moz-input-placeholder
{
  color:  #c5ecfd;
}
::-ms-input-placeholder
{
  color:  #c5ecfd;
}
.btn{
  background: #39b7dd;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  text-transform: capitalize;
}
@media screen and (max-width: 600px){
  .contact_c{
    flex-direction: column;
  }
  .msg textarea{
    height: 80px;
  }
  .input-field, .msg{
    width: 100%;
  }
}




